// Basic Sizes
$base-size: 1rem;

// Colors
$c-white: #FFFFFF;
$c-grey: #EAEBEF;
$c-violet: #6742D5;
$c-blue: #2749BA;
$c-green: #37CDBE;
$c-yellow: #FBBD23;
$c-pink: #F000B8;
$c-darker: #3d4451;
$c-linear: linear-gradient(93.51deg, #6742D5 12.96%, #2749BA 107.3%);

// Fonts
$font-size-h1: 4.8rem;
$font-size-h2: 4rem;
$font-size-text: 1.8rem;

$font-default-family: 'Rubik',
sans-serif;
